.opt6v1 .opt-white {
    color: white;
}
.opt6v1 .statistics,
.opt6v1 .order a,
.opt6v1 .lower-panel {
    display: none !important;
}
.opt6v1 .employer-dashboard .upper-panel {
    padding-bottom: 40px;
    padding-top: 20px;
}
.opt6v1 .dashboard .upper-panel .order {
    height: auto;
}
.opt6v1 .opt-container {
    display: flex;
    justify-content: flex-start;
}
.opt6v1 .opt-container .opt-item {
    width: calc(33.33% - 20px);
    margin-right: 30px;
    max-width: 275px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    background-color: #FAF9F9;
}
.opt6v1 .opt-container .opt-header {
    background-color: #007681;
    padding: 13px 20px;
}
.opt6v1 .opt-container .opt-header h3 {
    padding: 0px;
    margin: 0px;
}
.opt6v1 .opt-content {
    flex-grow: 1;
    padding-top: 16px;
    padding-left: 30px;
    padding-right: 20px;
}
.opt6v1 .opt-content ul {
    margin-left: 0px;
    margin-top: -10px;
}
.opt6v1 .opt-content li {
	display:flex;
    align-items:center;
}
.opt6v1 .opt-content .opt-icon {
    width: 50px;
}
.opt6v1 .opt-content li span {
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    font-family: "ChronicaPro-Bold", Helvetica, Arial, sans-serif;
}
.opt6v1 .opt-content .opt-icon img {
    height: auto;
    width: 100%;
}
.opt6v1 .opt-link {
    padding-left: 30px;
    padding-bottom: 22px;
    padding-right: 30px;
    padding-top: 15px;
}
.opt6v1 .opt-link a {
    padding: 8px 15px;
    min-width: 168px;
    display: inline-block;
    background-color: #007681;
    position: relative;
}
.opt6v1 .opt-link a span {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
}
.opt6v1 .opt-link .fa.fa-chevron-circle-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
}

@media (max-width: 768px) {
    .opt6v1 .statistics,
.opt6v1 .order a,
.opt6v1 .lower-panel {
    display: block !important;
}
    .opt-container {
	display:none !important;
    }
}

/** Variation 2 **/

