
.opt_PaymentImage {
    padding: 30px 0 10px;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.opt_Mobile {
    display: none;
    padding: 10px 0;
}
.opt_MobileExpand {
    display: none;
}

.expand .opt_Mobile {
    display: none;
}

.expand .opt_MobileExpand {
    display: block;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .opt_Mobile {  
        display: block;
    }
    .opt_Desktop { 
        display: none;
    }
}