.opt03 p.or {padding:0 0 8px 0; margin-top:-20px;}
    .opt03 .signup .signup-form {text-align:center; margin-top:-20px;}
    .opt03 .signup .signup-form label.control-label {width:auto; padding:7px 17px 0 0; margin:0; float:none; display:inline-block; vertical-align:top;}
    .opt03 .signup .signup-form .form-group {margin-bottom:28px;}
    .opt03 .signup .signup-form .form-group:last-of-type label.control-label {display:none;}
    .opt03 .signup .signup-form .dropdown-spacer {width:auto; min-width:1px; padding:0; margin:0; float:none; display:inline-block; vertical-align:top;}
    .opt03 .signup .signup-form .dropdown {min-width:264px; text-align:left;}
    .opt03 .signup .signup-form .account-option > div {background-color:transparent !important; margin:0; padding:0; max-width:none; width:100%; float:none;}
    .opt03 .signup #signupFooterText {display:none;}
    .opt03 .signup .cta-buttons {display:none;}
    .opt03 .signup .signup-form .account-options {float:none; width:auto; cursor:default;}
    .opt03 .signup .signup-form .account-options * {cursor:default;}
    
    .opt03 .signup .signup-form label.account-option {display:inline-block; vertical-align:top; width:247px; padding:0; margin:0; background-color:#ffffff; border-radius:4px; float:none; margin:0 15px; cursor:default; -webkit-box-shadow:0px 0px 30px 0px rgba(43, 40, 43, 0.04); -moz-box-shadow:0px 0px 30px 0px rgba(43, 40, 43, 0.04); box-shadow:0px 0px 30px 0px rgba(43, 40, 43, 0.04);}
    .opt03 .signup .signup-form label.account-option input {display:none;}
    .opt03 .signup .signup-form label.account-option .icon {padding:13px 0 0 0; -webkit-box-shadow:0px 0px 30px 0px rgba(43, 40, 43, 0.04); -moz-box-shadow:0px 0px 30px 0px rgba(43, 40, 43, 0.04); box-shadow:0px 0px 30px 0px rgba(43, 40, 43, 0.04); -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px;}
    .opt03 .signup .signup-form label.account-option .icon img {-webkit-filter: brightness(0) invert(1); -moz-filter: brightness(0) invert(1); filter: brightness(0) invert(1); max-width:100%; width:auto; height:auto; display:block; margin:0 auto;}
    .opt03 .signup .signup-form label.account-option .icon h3 {color:#ffffff; font-size:20px; line-height:20px; text-transform:uppercase; padding:6px 5px; margin:10px 0 0 0; font-family:ChronicaPro-Medium;}
    .opt03 .signup .signup-form label.account-option .text {padding:18px 24px 20px 24px;}
    .opt03 .signup .signup-form label.account-option .text h3 {display:none; font-size:20px; line-height:20px; text-transform:uppercase; padding:0 0 4px 0; margin:0; font-family:ChronicaPro-Medium; color:#54585a; text-align:left;}
    .opt03 .signup .signup-form label.account-option .text ul {list-style:none; padding:0 0 10px 0; margin:0; text-align:left;}
    .opt03 .signup .signup-form label.account-option .text ul li {list-style:none; padding:3px 0 3px 22px; margin:0; font-size:12px; line-height:12px; display:block; font-family:ChronicaPro-Medium; color:#54585a; position:relative; background-size:12px auto !important; background-repeat:no-repeat; background-position:left 4px;}
    .opt03 .signup .signup-form label.account-option .text .cta-button {cursor:pointer;}
    
    .opt03 .signup .signup-form label[for='radioIndividual'] .icon {background-color:#1bb291;}
    .opt03 .signup .signup-form label[for='radioIndividual'] .icon h3 {background-color:#129074;}
    .opt03 .signup .signup-form label[for='radioIndividual'] .text ul li {background-image: url("https://i.imgur.com/UdOJ9fb.png");}
    
    .opt03 .signup .signup-form label[for='radioEmployer'] .icon {background-color:#8fc7ea;}
    .opt03 .signup .signup-form label[for='radioEmployer'] .icon h3 {background-color:#6eacd2;}
    .opt03 .signup .signup-form label[for='radioEmployer'] .text ul li {background-image: url("https://i.imgur.com/Af3lukr.png");}

/***** Media Queries *****/
    @media screen and (max-width: 767px){
        .opt03 .default-top-margin-no-hero {margin-top:75px;}
        .opt03 p.or {padding:0 0 5px 0;}
        .opt03 .signup .signup-form {margin-top:-30px;}
        .opt03 .signup .signup-form label.control-label {padding:0 0 5px 0;}
        .opt03 .signup .signup-form .dropdown {min-width:260px;}
        .opt03 .signup .signup-form .form-group {margin-bottom:15px;}        
        .opt03 .signup .signup-form label.account-option {display:block; width:100%; margin:0 0 14px 0;}
        .opt03 .signup .signup-form .account-option > div {position:relative; padding:0 0 0 94px;}
        .opt03 .signup .signup-form label.account-option .icon {position:absolute; left:0; top:0; width:82px; height:100%; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 0px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 0px; -moz-border-radius-bottomleft: 4px; border-top-left-radius: 4px; border-top-right-radius: 0px; border-bottom-left-radius: 4px; padding:0;}
        .opt03 .signup .signup-form label.account-option .icon img {position:absolute; left:50%; top:50%;}
        .opt03 .signup .signup-form label[for='radioIndividual'] .icon img {max-width:44px; margin:-23px 0 0 -22px;}
        .opt03 .signup .signup-form label[for='radioEmployer'] .icon img {max-width:62px; margin:-25px 0 0 -31px;}
        .opt03 .signup .signup-form label.account-option .icon h3 {display:none;} 
        .opt03 .signup .signup-form label.account-option .text h3 {display:block;}
        .opt03 .signup .signup-form label.account-option .text ul {padding:0 0 7px 0;}
        
        .opt03 .signup .signup-form label.account-option .text {padding:10px 10px 10px 0; text-align:left;}
        .opt03 .signup .signup-form label.account-option .text .cta-button {margin:0; padding:8px 19px 8px 18px; font-size:12px;}
        .opt03 .signup .signup-form label.account-option .text .cta-button:after {content:""; width:15px; height:15px; background:transparent url("https://cvcheck.com/ResourcePackages/Bootstrap/assets/dist/images/bg-arrow-teal.png") no-repeat left top; background-size:15px 15px !important; padding:0; margin:0 10px 0 5px; top:3px; display:inline-block;}
        .opt03 .signup .signup-footer {display:none;}
        
    }