
.test17v1 .page-content .container.video-background { display: none; }

.test17v1 .container.tabs { padding-top: 78px; }
.test17v1 .container.tabs h1 { margin-bottom: 40px; }

.test17v1 .container.tabs .nav-tabs > li { float:none; display:inline-block; zoom:1; }
.test17v1 .container.tabs .nav-tabs { text-align:center; }
.test17v1 .container.tabs .nav-tabs>li>a {
	color: rgba(0, 118, 129, 0.4);
	font-size: 26px;
}
.test17v1 .container.tabs .nav-tabs>li>a:hover {
	border-color: #faf9f9;
	color:#007681;
	background-color: #faf9f9;
}
.test17v1 .container.tabs .nav-tabs {
	border-bottom: 2px solid rgba(0, 118, 129, 0.5);
}
.test17v1 .container.tabs .nav-tabs>li.active>a,
.test17v1 .container.tabs .nav-tabs>li.active>a:focus, 
.test17v1 .container.tabs .nav-tabs>li.active>a:hover
{
	border-radius: 10px 10px 0 0;
	color: #007681;
	background-color: #faf9f9;
	border: 2px solid rgba(0, 118, 129, 0.5);
	padding: 22px 42px;
	border-bottom: none;
    margin-bottom: -1px;
}

.test17v1 .container.tabs .tab-pane { padding-bottom: 80px; }
.test17v1 .container.tabs .tab-pane img { display: inline-block; }
.test17v1 .container.tabs .tab-pane .inner-content { padding: 20px 60px; }

.test17v1 .container.tabs .tab-pane .btn-outline {
	margin-top: 40px;
	border: 1px solid #007681;
    color: #007681;
    padding-right: 52px;
    position: relative;
    height: 40px;
}
.test17v1 .container.tabs .tab-pane .btn-outline:after {
	position: absolute;
	width: 18px;
	height: 18px;
	right: 14px;
	
	top: 10px;
	content: url("https://cvcheck.com/ResourcePackages/Bootstrap/assets/dist/images/bg-arrow-teal.png")
}


@media screen and (max-width: 767px )
{
	.test17v1 .container.tabs .col-md-2.text-center {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.test17v1 .container.tabs .nav-tabs>li>a {
		padding: 10px !important;
		line-height: 1.2;
		font-size: 18px;
	}
	.test17v1 .container.tabs .nav-tabs>li>a:hover {
		
		background:transparent; 
		border:none;
	}
	.test17v1 .container.tabs .nav-tabs > li {
		width: 38%;
		margin-bottom: -2px;
	}
	.test17v1 .container.tabs .tab-pane { border-bottom: 2px solid #ccc; }
	.test17v1 .container.tabs .tab-pane img { width: 25%; }
	.test17v1 .container.tabs .tab-pane p { width: 75%; text-align: left; font-weight: 700; }
	.test17v1 .container.tabs .tab-pane p br { display: none; }
	.test17v1 .container.tabs .tab-pane .inner-content { padding: 20px 20px; }
}