.optCont img {
    width: 100%;
    max-width: 326px;
}

.optCont {
    display: flex;
}

.optRight {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.optRight h4 {
    text-align: left !important;
    margin-top: 0;
    margin-bottom: 40px
}

.optRight span {
    margin: 0 !important;
}


.optRight a {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.optRight ul {
    padding-left: 15px;
}

.optLeft sub {
    top: -2px;
}

.optDesktop {
    display: block;
}

.optMobile {
    display: none;
}

.optLeft span.optDesktop {
    font-size: 12px;
    margin-top: 2px;
}

@media (max-width: 678px) {
    
    .optRight h4 {
        text-align: center !important;
    }
    
    .optRight {
        margin: 0;
    }
    .optDesktop {
    	display: none;
	}

    .optMobile {
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }
    
    .optRight .optMobile p {
        text-align: center;
        margin: auto;
        display: block;
        font-size: 14px;
        color: #54585a;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .optRight .optPriceCont {
        margin-left: 15px;
    }
    
    .optRight .cta-button {
        margin-left: auto;
        margin-right: auto;
    }
    
    .optOlFirst div:nth-of-type(1), .optOlFirst div:nth-of-type(2) > span:nth-of-type(1),  .optOlFirst div:nth-of-type(2) > span:nth-of-type(2),.optOlFirst div:nth-of-type(2) > span:nth-of-type(3), .optOlFirst div:nth-of-type(2) > span:nth-of-type(4) {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        height: 0 !important;
        display: none !important;
    }
}