.owl-theme .owl-dots, .owl-theme .owl-nav {
	text-align: center;
	-webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav {
	margin-top: 10px
}

.owl-theme .owl-nav [class*=owl-] {
	color: #FFF;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #D6D6D6;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px
}

.owl-theme .owl-nav [class*=owl-]:hover {
	background: #869791;
	color: #FFF;
	text-decoration: none
}

.owl-theme .owl-nav .disabled {
	opacity: .5;
	cursor: default
}

.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 10px
}

.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1
}

.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #D6D6D6;
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: opacity .2s ease;
	transition: opacity .2s ease;
	border-radius: 30px
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #869791
}

.owl-carousel, .owl-carousel .owl-item {
	-webkit-tap-highlight-color: transparent;
	position: relative
}

.owl-carousel {
	display: none;
	width: 100%;
	z-index: 1
}

.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
	touch-action: manipulation;
	-moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none
}

.owl-carousel .owl-item img {
	display: block;
	width: 100%
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
	display: none
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
	display: block
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
	background: 0 0;
	color: inherit;
	border: none;
	padding: 0!important;
	font: inherit
}

.owl-carousel.owl-loading {
	opacity: 0;
	display: block
}

.owl-carousel.owl-hidden {
	opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
	visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.owl-carousel.owl-grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab
}

.owl-carousel.owl-rtl {
	direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
	float: right
}

.owl-carousel .animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
	z-index: 0
}

.owl-carousel .owl-animated-out {
	z-index: 1
}

.owl-carousel .fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

.owl-height {
	-webkit-transition: height .5s ease-in-out;
	transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	-webkit-transition: opacity .4s ease;
	transition: opacity .4s ease
}

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
	max-height: 0
}

.owl-carousel .owl-item img.owl-lazy {
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000
}

.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	cursor: pointer;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform .1s ease;
	transition: transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
	-ms-transform: scale(1.3, 1.3);
	-webkit-transform: scale(1.3, 1.3);
	transform: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
	display: none
}

.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	-webkit-transition: opacity .4s ease;
	transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%
}

.owl-item {
	width: auto;
	height: 75px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.carousel-wrap .owl-dots {
	display: none;
}

.item {
	margin: 0 10px;
}

.item img {
	display: block;
	max-width: 150px;
	max-height: 75px;
	width: initial !important;
}

.before-carousel {
	display: block !important;
}

.carousel-wrap .owl-carousel {
	height: 120px;
}

.carousel-wrap {
	position: relative;
	padding: 0 30px 30px 30px;
	overflow: hidden;
}

.carousel-wrap .owl-carousel {
	max-width: 950px;
	margin: 0 auto;
}

.owl-carousel:not(.three-boxes) .owl-stage {
	height: 80px;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.carousel-wrap:before {
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	background: #fff;
	width: 4000px;
	left: -2000px;
	top: 0;
}

.carousel-wrap h2, .testimonials h2 {
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
	font-style: normal;
	position: relative;
	z-index: 100;
	padding: 30px 0;
}

.carousel-wrap #l-arrow {
	top: -5px;
	left: -80px;
}

.carousel-wrap #r-arrow {
	top: -5px;
	right: -80px;
}

.testimonials {
	margin-bottom: 50px;
	margin-top: 50px;
}

.testimonials .check-section.three-boxes {
	width: -webkit-calc(100% + 30px);
	width: calc(100% + 30px);
	margin-left: -15px;
}

.testimonials .check-section.three-boxes .col-md-4 {
	padding: 0 !important;
}

.testimonials .check-section.three-boxes .col-md-4 .check {
	padding: 20px;
	text-align: left;
	min-height: initial;
}

.testimonials .check-section.three-boxes .col-md-4 .check p {
	text-align: left;
}

.testimonials .check-section.three-boxes .col-md-4 .check strong {
	padding: 7px 0 10px 0;
	display: block;
}

/* Mobile Reviews Carousel */

.three-boxes.owl-carousel .item {
	width: 100% !important;
	margin: 0 !important;
	float: none !important;
	padding: 0 !important;
}

.three-boxes.owl-carousel .item .check {
	margin: 0 !important;
	padding: 6px 20px 16px 20px !important;
	border: none;
	background-color: #ffffff;
	border-top: 10px solid #367cc4;
	border-radius: 9px;
	font-size: 13px;
	line-height: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.three-boxes.owl-carousel .item .check p {
	padding: 0 !important;
	margin: 0 !important;
	font-size: 13px;
	line-height: 20px;
}

.three-boxes.owl-carousel .item strong {
	font-size: 14px;
	line-height: 20px;
}

.owl-carousel .owl-dots {
	text-align: center;
	padding: 12px 0 0 0;
}

.owl-carousel .owl-dots button {
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background-color: #ffffff;
	border: 1px solid #007681;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 4px;
}

.owl-carousel .owl-dots button.active {
	background-color: #007681;
}

.three-boxes.owl-carousel .owl-stage {
	height: 120px;
}

.owl-theme .owl-dots .owl-dot span {
	display: none;
}

@media screen and (max-width:1600px) {
	.carousel-wrap #l-arrow {
		top: -5px;
		left: -80px;
	}
	.carousel-wrap #r-arrow {
		top: -5px;
		right: -80px;
	}
}

@media screen and (max-width:1300px) {
	.carousel-wrap #l-arrow {
		top: -15px;
		left: -60px;
	}
	.carousel-wrap #r-arrow {
		top: -15px;
		right: -60px;
	}
}

@media only screen and (max-width: 1200px) {
	.carousel-wrap .owl-carousel {
		max-width: 650px;
	}
	.carousel-wrap #l-arrow {
		top: -5px;
		left: -100px;
	}
	.carousel-wrap #r-arrow {
		top: -5px;
		right: -100px;
	}
	.testimonials .check-section.three-boxes .col-md-4 .check {
		margin-left: 5px;
		margin-right: 5px;
	}
	#police-check-content>div {
		overflow: hidden;
	}
}

@media only screen and (max-width: 991px) {
	.carousel-wrap .owl-carousel {
		max-width: 600px;
	}
	.carousel-wrap #l-arrow {
		top: -5px;
		left: -50px;
	}
	.carousel-wrap #r-arrow {
		top: -5px;
		right: -50px;
	}
	.testimonials .check-section.three-boxes .col-md-4 .check {
		min-height: 1px;
	}
	.carousel-wrap h2, .testimonials h2 {
		font-size: 18px;
		padding: 15px 0;
	}
	.carousel-wrap {
		padding-bottom: 0;
	}
}

@media (max-width: 767px) {
	.owl-theme .owl-nav {
		display: none;
	}
	.carousel-wrap:not(.three-boxes) .owl-dots {
		display: block;
	}
	.carousel-wrap .owl-carousel {
		height: 160px;
	}
	.three-boxes.owl-carousel .owl-stage {
		height: 130px;
	}
	.owl-carousel.owl-drag .owl-item {
		height: auto;
	}
}

@media (max-width: 400px) {
	.carousel-wrap .owl-carousel {
		height: 200px;
	}
}