.opt9 .category-grid .category-detail .dxdvContent_CVCheckClean tr{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.opt9 #ASPxPageControl1_TC {
  max-width: 497px;
  
}
.opt9 .category-grid .category-detail .category-detail-item {
	width: 100% !important;
	max-width: 494px;
 	float:left;
}

.opt9 .category-grid .category-detail .category-detail-item:first-child {
    padding-right: 0;
}

.opt9 #order-step-wrapper .buy-check {
    border: none;
    padding-bottom: 0;
    margin-top: 0;
    border-radius: 0;
    padding-bottom: 10px
}

.opt9 #order-step-wrapper .buy-check .check-name {
    padding-bottom: 0;
}

.opt9 #order-step-wrapper .buy-check ul.check-price li:nth-of-type(2) {
    display: none;
}

.opt9 #order-step-wrapper .buy-check .check-price {
    display: inline-block;
}

.opt9 #order-step-wrapper .buy-check .check-price li {
    padding-left: 10px;   
    font-size: 12px;
    color: #AAAAAA;
    margin-top: 5px;
    font-weight: 100;
}

.opt9 #order-step-wrapper .buy-check p.check-time {
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    margin-top: 5px;
    float: left;
    border-right: 1px solid lightgrey;
    padding-right: 10px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 100;
}

.opt9 #order-step-wrapper .buy-check .buttons button {
    margin-top: -20px;
}

@media (min-width: 500px) {
    .opt9 #order-step-wrapper .buy-check .buttons {
        padding-top: 0;
    }
}

@media (max-width: 840px) and (min-width: 768px) {
    .opt9 #order-step-wrapper .buy-check .buttons button {
        margin-top: 0px;
    }
    .opt9 #order-step-wrapper .dxdvContent_CVCheckClean .buy-check .buttons > a {
      margin-top: 10px;
    }
}

@media (max-width: 768px) {
  	.opt9 #order-step-wrapper .buy-check {
      border-top: 2px solid #D2D2D2 !important;
    }
  
  	.opt9 #order-step-wrapper .dxdvContent_CVCheckClean tr:first-of-type td:first-of-type .buy-check {
        border-top: none !important;
    }
}

@media (max-width: 500px) {
    .opt9 #order-step-wrapper .buy-check .buttons button {
        margin-top: 0px;
    }

    .opt9 #order-step-wrapper .buy-check p.check-time, .opt9 #order-step-wrapper .buy-check .check-price li {
        font-size: 10px;
    }
}