.opt_Selected .btn-primary {
    color: white;
    background: #007681;
}

.opt_AddedContainer {
    background: #e6f0f2;
    border: 1px solid #017580;
    padding: 10px 50px 5px 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;

}

.opt_Close {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.opt_Close p {
    margin: 0 !important;
    padding: 0;
    color: white;
    background: #007681;
    border-radius: 20px;
    width: 20px;
    font-size: 10px;
    line-height: 20px;
}

@media (max-width: 450px) {
    .opt_AddedContainer P {
        font-size: 14px;
    }
}