.checkout-heading {
    display: none !important;
}
.checkout .checkout-section.completed {
    border: none;
}
.opt-section-header {
    padding: 15px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.opt-section-header span {
    font-size: 20px;
    line-height: 22px;
    margin-right: 20px;
    color: #e1e1e1;
}
.opt-section-header h3 {
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 22px;
}

/** BreadCrumb **/
.opt-bread-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
}
.opt-bread-container .opt-section {
    width: 20%;
}
.opt-bread-container .opt-section a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.opt-bread-container .opt-section .opt-bottom span {
    display: block;
    text-align: center;
    font-family: serifGothic,Arial,'Helvetica Neue',Helvetica,sans-serif;
}
.opt-bread-container .opt-section .opt-top span {
    position: relative;
    background-color: white;
    border: 2px solid #F0F0F0;
    color: #F0F0F0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    display: block;
    border-radius: 50%;
    padding-right: 1px;
    font-size: 21px;
}
.opt-section .opt-top {
    position: relative;
    margin-bottom: 10px;
}
.opt-section .opt-top:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-bottom: 2px solid #F0F0F0;
}
.opt-section a,
.opt-section.opt-active a {
    cursor: default;
}
.opt-section.opt-completed a {
    cursor: pointer;
}
.opt-section.opt-completed .opt-top span,
.opt-section.opt-active .opt-top span {
    background-color: #AF1330;
    color: white;
    border-color: #AF1330;
}
.opt-section.opt-completed .opt-top:before,
.opt-section.opt-active .opt-top:before {
    border-bottom: 2px solid #AF1330;
}
.opt-16v0 .opt-section:last-child .opt-top:before {
    content: none;
}
.opt-bottom span {
    color: #484944;
}
@media (max-width: 767px) {
    .opt-section:not(.opt-active) .opt-bottom span {
        display:none;
    }
    .opt-bread-container .opt-section.opt-active .opt-top span,
    .opt-bread-container .opt-section.opt-completed .opt-top span {
        position: relative;
        color: #F0F0F0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
        text-align: center;
        display: block;
        border-radius: 50%;
        padding-right: 1px;
        font-size: 15px;
        line-height: 26px;
    }
    .opt-bread-container .opt-section:not(.opt-active) .opt-top span {
        position: relative;
        color: white;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 16px;
        height: 16px;
        margin-top: 7px;
        margin-bottom: 7px;
        text-align: center;
        display: block;
        border-radius: 50%;
        padding-right: 1px;
        font-size: 15px;
        line-height: 26px;
    }
    .opt-bread-container .opt-section.opt-completed .opt-top span {
        border-color: #AF1330;
        
    }
    .opt-bread-container .opt-section.opt-completed .opt-top:before {
         border-bottom: 2px solid #AF1330;
    }
    .opt-section:not(.opt-active) .opt-top span, .opt-bread-container .opt-section.opt-completed .opt-top span {
        color: white !important;
        line-height: 0px !important;
        font-size:0px !important;
    }
    .opt-section .opt-top {
        margin-bottom: 5px;
    }
    .opt-bread-container .opt-section .opt-bottom span {
        font-size: 12px;
        line-height: 14px;
    }
    .opt-bread-container{
        margin-bottom:15px;
    }
}

/** variation 2 **/
.opt-bread-container .opt-section.opt-completed .opt-bottom span,.opt-bread-container .opt-section.opt-active .opt-bottom span {
    color:#AF1330;
    font-weight:700;
}
@media (min-width: 768px) {
    .opt-8v0 .opt-bread-container {
        margin-left: 50px;
        margin-right: 50px;
    }
    .opt-8v0 .opt-bread-container .opt-section .opt-top span {
        height: 30px;
        width:30px;

        background-color:#F0F0F0;
    }
    .opt-8v0 .opt-section .opt-top:before {
        left:0px;
        border-bottom: 5px solid #F0F0F0;

    }
    .opt-8v0 .opt-section.opt-completed .opt-top:before, .opt-8v0 .opt-section.opt-active .opt-top:before {
          border-bottom: 5px solid #AF1330;
    }
    .opt-8v0 .opt-section.opt-active .opt-top:before {
        border:none;
        height:30px;
        background-image: url(//useruploads.visualwebsiteoptimizer.com/useruploads/317036/images/e88a916df2dec2620949781c825997b3_wine-selectors-logo_desktop.png);
        -webkit-background-size: 93% auto;
        background-size: 93% auto; 
        background-repeat: no-repeat;
        background-position:center left;
        left:0px;
        top:50%;
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
    }
    .opt-8v0 .opt-section.opt-completed .opt-top span, .opt-8v0 .opt-section.opt-active .opt-top span {
        background-color:#AF1330;;
    }

    .opt-8v0 .opt-bread-container .opt-section:last-child .opt-top:after {
        content: " ";
        position: absolute;
        background-color: white;
        border: 2px solid #F0F0F0;
        color: #F0F0F0;
        background-color:#F0F0F0;
        right: 0px;
        top:0px;
        width: 26px;
        height: 26px;
        display: block;
        border-radius: 50%;
    }

    .opt-8v0 .opt-bread-container .opt-section .opt-top span {
        color: white !important;
        line-height: 0px !important;
        font-size:0px !important;
    }

    .opt-8v0 .opt-bottom {
        position:relative;
        left:50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .opt-8v0 .opt-bread-container .opt-section .opt-top span {
        left: 0px;
    }
}

@media (max-width: 768px) {
    .opt-8v0 .opt-section.opt-active .opt-top:before{
        background-image: url(//useruploads.visualwebsiteoptimizer.com/useruploads/317036/images/e4a49f3db19f0a79287a8a0392630d2e_wine-selectors-logo_mobile.png);
        border:none;
        height:30px;
        background-image: url(//useruploads.visualwebsiteoptimizer.com/useruploads/317036/images/e88a916df2dec2620949781c825997b3_wine-selectors-logo_desktop.png);
        -webkit-background-size: 70% auto;
        background-size: 70% auto; 
        background-repeat: no-repeat;
        background-position:center left;
        left:-webkit-calc(50% + 15px);
        left:calc(50% + 15px);
        top:50%;
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
    }
    .opt-8v0 .opt-bottom {
        min-height: 26px; 
    }   
   
    .opt-8v0 .opt-section.opt-completed .opt-top span,  .opt-8v0 .opt-section.opt-active .opt-top span {
        color: #AF1330
    }
    .opt-8v0 .opt-bread-container .opt-section:not(.opt-active) .opt-top span {
        background-color:#F0F0F0;
    }
    .opt-8v0 .opt-bread-container .opt-section.opt-completed .opt-top span {
        background-color:#AF1330;
    }
    .opt-8v0 .opt-bottom span {
       color: #AF1330
    }
    .opt-8v0 .opt-section:last-child .opt-top:before {
        content: none;
    }
    
    
}