<div class="opt-container" id="opt-Resume">
    <p class="opt-title"></p>
    <div class="opt-content">
        <div class="opt-col" id="opt-orderstarted">
            <p class="opt-title opt-smaller opt-grey"></p>
            <p class="opt-title opt-small"></p>
        </div>
        <div class="opt-col" id="opt-ordertype">
                <p class="opt-title opt-smaller opt-grey"></p>
                <p class="opt-title opt-small"></p>
        </div>
        <div class="opt-col" id="opt-applicantname">
                <p class="opt-title opt-smaller opt-grey"></p>
                <p class="opt-title opt-small"></p>
        </div>
        <div class="opt-col" id="opt-button">
                <a class="btn btn-primary" href="#">Begin Order<i class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>
</div>