.opt-30-v1 {
    .opt-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 1036px;
    }

    .opt-container > .opt-title {
        margin-bottom: 10px;
    }

    .opt-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 22px;
        padding-bottom: 10px;
    }

    .opt-title.opt-small {
        font-size: 20px;
    }

    .opt-title.opt-smaller {
        font-size: 14px;
    }

    .opt-title.opt-grey {
        color: #7f7f7f;
    }

    .opt-content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background: #E6F0F2 url(https://ww1.cvcheck.com/App_Themes/CVCheckClean/Web/tcTabBack.gif) repeat-x left top;
        border-radius: 12px;
        padding: 25px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 60px;
    }

    .opt-content p {
        padding: 0;
    }

    .opt-col {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 2%;
    }

    .opt-col#opt-orderstarted,
    .opt-col#opt-ordertype {
        width: 18%;
    }

    .opt-col#opt-applicantname {
        width: 41%;
    }

    .opt-col#opt-button {
        width: 22%;
    }
    .opt-col#opt-button a {
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}