@media only screen and (min-width: 991px) {
    .opt01 .hero .container {
        width: 100%;
    }

    .opt01 .hero .container > div.optContainer {
        background: #006B76;
        opacity: 0.7;
        display: flex;
        align-items: unset;
        justify-content: center;
        flex-direction: column;
        height: 60%;
        max-width: 518px;
        width: 100%;
        margin: 0;
        position: absolute;
        transform: translateY(-50%);
        bottom: 0;
        right: 0px;
        top: 50%;
        padding: 40px;
        text-align: right;
    }

    .opt01 .hero .container > div.optContainer h1{
        position: initial;
        bottom: initial;
        text-align: right;
    }
    .opt01 .optContainer .header-btn {
        display: block !important;
    }

    .opt01 .optContainer .header-btn a {
        margin-right: 0;
        margin-left: 0;
        background: white;
    }
    .opt01 .optContainer .header-btn a:hover {
        border: 2px solid #004950;
    }
}
@media only screen and (max-width: 991px) {
    .opt01 .hero:not(.home-hero) .sf-Image-wrapper {
        display: block;
    }
}